@use "@/var";
@use "@/Pages/Home/Home";
@use "@/Pages/User/User";
@use "@/components/sidebar";
@use "@/Pages/Catalog/Catalog";
@use "@/Pages/Products/Products";
@use "@/Pages/Categories/Categories";
@use "@/Pages/Providers/Providers";

div.App {
  div.Welcome {
    min-height: 100vh;
    min-width: 100vw;
    @include var.flex-container(row, center, center);
    background-color: var.$foreground;
    div.loading-welcome {
      @include var.flex-container(column, center, center);
      h1 {
        font-size: 20px;
        font-weight: bold;
        color: var.$secondary;
        padding-bottom: 20px;
      }
    }
  }
}